<div class="pokemoncard" style="background: <%= color[1] %>; background: linear-gradient(180deg, <%= color[2] %> 0%, <%= color[3] %> 100%);">
    <div class="pokemonheader">
    <span><%= pokemon.name.slice(0,1).toUpperCase()+pokemon.name.slice(1) %> </span><span>HP <%= pokemon.base.hp %> </span>

    </div>
    <div class="pokemonimg" style="background:<%= color[4] %>;">
        <% let number = pokemon.pokemon_index.toString(); %>
        <% let number_len = number.length %> 
        <% for(let i = 0; i< (3 - number_len); i++) { %>
        <% number = '0'+number; %>
        <% } %>
        <img src="images/<%= number %>.png" alt="">
    </div>
    <div class="pokemonmain">
       <%=    pokemon.type[0] %>
    </div>
</div>

 

<style>
    .pokemoncard {
        display: inline-block;
        border: 10px solid <%= color[0] %>;
        border-radius: 5px;
        margin: 10px;
        width: 300px;
        height: 400px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        cursor: pointer;
    }
    .pokemonheader {
        position: relative;
        top: 5%;
        left: 10%;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .pokemonimg {
        position: relative;
        left: 10%;
        top: 5%;
        display: block;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        width: 80%;
        height: 40%;
    }
    .pokemonimg img {
        position: relative;
        top: 10%;
        left: 25%;
        width: 50%;
    }
    .pokemonmain {
        display: block;
        border: 2px;
        border-radius: 2px;

    }

    .pokemoncard:hover{
        border-color: teal;
    }



</style>