<div class="pokemoncard" style="background: <%= color[1] %>; background: linear-gradient(180deg, <%= color[2] %> 0%, <%= color[3] %> 100%);" id="<%= `pokemon_${pokemon.pokemon_index}` %>">
    <span class="pokemon_type"><%= pokemon.type[0] %></span>
    <div class="pokemonheader">
       
    <span><%= pokemon.name.slice(0,1).toUpperCase()+pokemon.name.slice(1) %> </span><span>HP <%= pokemon.base.hp %> </span>

    </div>
    <div class="pokemonimg" style="background:<%= color[4] %>;">
        <% let number = pokemon.pokemon_index.toString(); %>
        <% let number_len = number.length %> 
        <% for(let i = 0; i< (3 - number_len); i++) { %>
        <% number = '0'+number; %>
        <% } %>
        <img src="/images/<%= number %>.png" alt="">
    </div>
    <div class="pokemonmain">
        <div class="attack">
            <span>Attack</span>
            <span><%= pokemon.base.attack %></span>
        </div>
        <div class="defence">
            <span>Defence</span>
            <span><%= pokemon.base.defence %></span>
        </div>
    </div>
    <hr>
    <div class="pokemonmain_special">
        <div class="attack">
            <span>Special Attack</span>
            <span><%= pokemon.base.sp_attack %></span>
        </div>
        <div class="defence">
            <span>Special Defence</span>
            <span><%= pokemon.base.sp_defence %></span>
        </div>
    </div>
    <hr>
    <div class="pokemonmain_special">
        <div class="speed">
            <span>Speed</span>
            <span><%= pokemon.base.speed %></span>
        </div>
    </div>
    <% if(currentUser) { %>
    <div class="button" style="
    display: block;
    position: relative;
    width: 94%;
    top: 29%;
    z-index: 100;
    visibility: hidden;;
    margin: auto;" id="<%=`add_button${pokemon.pokemon_index}` %>">
    <form action="/user/<%= currentUser._id %>/pokemon/<%= pokemon._id %>?_method=PUT" method="POST">
        <button type="submit">
            Add me To Your Collection!
        </button>
    </form>
    </div>
    <% } %> 
</div>
<% if(currentUser) { %>
<script>
    document.getElementById('<%= `pokemon_${pokemon.pokemon_index}` %>').addEventListener('click', showAddButton);
    function showAddButton() {
        let button = document.getElementById('<%= `add_button${pokemon.pokemon_index}` %>');
        if(button.style.visibility == 'hidden')
            button.style.visibility = 'visible';
        else
            button.style.visibility = 'hidden'
    }
</script>
<% } %> 
 

<style>
    .pokemoncard {
        display: inline-block;
        border: 10px solid <%= color[0] %>;
        border-radius: 5px;
        margin: 10px;
        width: 300px;
        height: 400px;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        cursor: pointer;
    }
    .pokemonheader {
        position: relative;
        top: 0%;
        left: 10%;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .pokemonimg {
        position: relative;
        left: 10%;
        top: 0%;
        display: block;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        width: 80%;
        height: 40%;
    }
    .pokemonimg img {
        position: relative;
        top: 10%;
        left: 25%;
        width: 50%;
    }
    .pokemonmain {
        display: flex;
        left: 10%;
        top: 3%;
        width: 80%;
        justify-content: space-around;
        position: relative;
        margin-bottom: 25px;
    }
    .pokemonmain span {
        display: block;
        text-align: center;
    }
    
    .pokemonmain_special {
        display: flex;
        left: 10%;
        top: 1.5%;
        width: 90%;
        justify-content: space-around;
        position: relative;
        margin-bottom: 23px;
    }
    .pokemonmain_special span {
        display: block;
        text-align: center;
    }
    .pokemoncard:hover{
        border-color: teal;
    }
    .pokemon_type {
        font-size: 0.7em;
        font-weight: 300;
        position: relative;
        left: 10%;
        z-index: 1;
    }
    hr{
        width: 90%;
        border: 0px;
        border-bottom: 1px dashed white;
    }


</style>