<h1>User Profile for
    <%= user.username %>
</h1>
<table class="table">
    <tr>
        <th>Username</th>
        <td>
            <%= user.username %>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <%= user.email %>
        </td>
    </tr>
    <tr>
        <th>Pokemons</th>
        <td>
            <%= user.pokemons %>
        </td>
    </tr>
</table>

<div>
    <a class="button" href="/users">View all users</a>
</div>

<div>
    <a class="button" href="<%=`/users/${user._id}/edit`%>">
        Edit User Details
    </a>
</div>

<!-- <div>
    <a class="button" href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
        onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
</div> -->