<h1 class="header">User Profile for
    <%= currentUser.username %>
</h1>
<div class="profile">
<table class="table">
    <tr>
        <th>Username</th>
        <td>
            <%= currentUser.username %>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <%= currentUser.email %>
        </td>
    </tr>
    <%= currentUser.pokemons %>
</table>
<div class="button">
    <button>
        <a href="<%=`/edit`%>">
            Edit User Details
        </a>
    </button>
</div>
<div>
    <button>
        <a class="button" href="<%= `/users/${currentUser._id}/delete?_method=DELETE` %>"
            onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
    </button>
</div>
</div>