<div class="profile-info">
    <div class="profile">
        <h2 class="header">Profile <br>
            <%= user.username %>
        </h2>
    <div class="user-info">    
    <div class="user">
        <table class="table">
            <tr>
                <th>Username:</th>
                <td>
                    <%= user.username %>
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>
                    <%= user.email %>
                </td>
            </tr>
        </table>
    </div>
    <div class="buttons">
        <div class="button">
            <button>
                <a href="<%=`/edit`%>">
                    Edit User Details
                </a>
            </button>
        </div>
        <div class="button" id="delete-button">
            <button>
                <a  href="<%= `/${user._id}/delete?_method=DELETE` %>"
                    onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
            </button>
        </div>
    </div>
    </div>
    </div>
    <div class="pokemons">
        <h1 class="header">My Pokemons</h1>
        <div class="collection">
            <% if(pokemons) { %> 
            <% pokemons.forEach(pokemon => { %>
            <% if(pokemon.type[0]) {var color = pokemon.type[0]; } else { var color = 'Normal';} %>
            <%- include ('partials/pokemon', { pokemon: pokemon, color: colors[color]}); %>
            <% }) %>
            <% } else {  %>
        <p>Start collecting pokemons from the Pokemons page!</p>
            <% } %>
        </div>
    </div>
</div>